'fileTypes': [
  'asm'
]

'name': 'Assembly (LC-4)'
'scopeName': 'source.assembly.asm.x86.lc4'

'patterns': [
  {
    'match': ';.*'
    'name': 'comment.line'
    'comment': 'Comment format ;'
  }
  {
    'match': '[rR][0-7]'
    'name': 'variable.language'
    'comment': 'Register format R#'
  }
  {
    'match':  '(OUT|PUTS|NOP|BR(n)?(z)?(p)?|ADD|MUL|SUB|DIV|CONST|UCONST|CMP(I)?(U)?|JSR(R)?|AND|NOT|OR|XOR|LDR|STR(?!ING)|RTI|CONST|SLL|SRA|SRL|MOD|JMP(R)?|HICONST|TRAP|LEA|LC) '
    'name': 'keyword.control'
    'comment': 'OPCODE format'
  }
  {
    'match': '0?x[0-9A-F]+\\s'
    'name': 'constant.numeric.hex'
    'comment': 'Hexadecimal numbers format xFFFF, 0xFFFF'
  }
  {
    'match': '(b[01]+)\\s'
    'name': 'constant.numeric.bin'
    'comment': 'Binary numbers format b10'
  }
  {
    'match': '#-?[0-9]+\\s'
    'name': 'constant.numeric.dec'
    'comment': 'Decimal numbers format #123 123'
  }
  {
    'match': '.(DATA|CODE|ADDR|FILL|UCONST|FALIGN|BLKW|OS|STRINGZ)[ |\n]'
    'name': 'constant.symbol.other'
    'comment': 'Directive format'
  }
  {
    'match': '([a-zA-Z]+)(_[a-zA-Z0-9_.-]+)?'
    'name':'entity.name.function'
    'comment': 'Subroutine format'
  }
  {
    'match': '".*"'
    'name': 'string.quoted.double'
    'comment': 'double quoted string'
  }
]
