'.source.assembly.asm.x86.lc4':
  'editor':
    'softTabs': true
    'tabLength': 2
    'commentStart': '; '
    'increaseIndentPattern': '^(LOOP|SUB)(_[a-zA-Z]+)?'
    'decreaseIndentPattern': '^END(_[a-zA-Z]+)?'

  'completions': [
    ## Opcode mnemonics

    'NOP'

    # Conditional Branch
    'BRn'
    'BRnz'
    'BRnp'
    'BRnzp'
    'BRz'
    'BRzp'

    # Arithmatic Expressions
    'ADD'
    'MUL'
    'SUB'
    'DIV'

    'CMP'
    'CMPU'
    'CMPI'
    'CMPIU'

    # Subroutine Jumps
    'JSR'
    'JSRR'

    # Boolean Logic
    'AND'
    'NOT'
    'OR'
    'XOR'

    # Load, Store Base
    'LDR'
    'STR'

    # Return from Interrupt
    'RTI'

    'CONST'

    'SLL'
    'SRA'
    'SRL'
    'MOD'

    'JMPR'
    'JMP'
    'HICONST'
    'TRAP'

    # Pseudo Instructions
    'RET'
    'LEA'
    'LC'

    # Assembly Directive
    '.DATA'
    '.CODE'
    '.ADDR'
    '.FILL'
    '.END'
    '.FALIGN'
    '.BLKW'
    '.CONST'
    '.UCONST'

    # Registers
    'R0'
    'R1'
    'R2'
    'R3'
    'R4'
    'R5'
    'R6'
    'R7'
    'R8'

    'IN'
    'OUT'
    'PUTS'
  ]
